

# Laravel/PHP
vendor
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
*.log

# Composer
composer.lock

# Git
.git
.gitignore

# Config local
.env

# IDE/Editor
.vscode
.idea

.env
.env.*
.git
.gitignore
.dockerignore
vendor/
node_modules/
storage/*.log
tests/
docker-compose.yml
Dockerfile
.idea/
.vscode/